body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.nav-wrapper .fa-bars {
  font-size: 25px;
}
footer {
  margin-top: 20px;
}

.story-text {
  height: 100px;
}
.dash-status {
  text-transform: capitalize;
}

#delete-form {
  display: inline;
}
.alert {
  margin-top: 3px;
  padding: 20px;
  color: white;
  font-size: 120%;
  border-radius: 3px;
}
footer {
  margin-top: 20px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
.card-title {
  margin: auto;
  height: 40px;
}
.card-image {
  height: 150px;
}
.card-image img {
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #424242;
}
