<h2 class="center">Log In form</h2>
<div class="row">
  <form method="post" action="/users/login" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input name="email" id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" name="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <button class="btn-large waves-effect waves-light" type="submit">Log In
    </button>
  </form>
</div>