<h2 class="center">Register form</h2>
<div class="row">
  <form method="post" action="/users/register" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input name="username" id="username" type="text" class="validate">
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input name="email" id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input name="password" id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <button class="btn-large waves-effect waves-light" type="submit">Sign Up
    </button>
  </form>
</div>